@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------- FIN TAILWIND ------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

/* ------------------------------------------- DEBUT CROIX BURGER ------------------------------------------- */

.line1 {
    transform: rotate(-45deg) translate(-2px, 1px);
}

.line1-reverse {
    transform: rotate(0deg) translate(0, 0);
}

.line3 {
    transform: rotate(45deg) translate(1px, 1px);
}

.line3-reverse {
    transform: rotate(0deg) translate(0, 0);
}

/* ------------------------------------------- FIN CROIX BURGER ------------------------------------------- */

/* ------------------------------------------- DÉBUT SCROLL BARRE ------------------------------------------- */
.custom-scrollbar {
    scrollbar-width: none;
    /* Pour Firefox */
    -ms-overflow-style: none;
    /* Pour Internet Explorer et Edge */
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
    /* Pour Chrome, Safari et Opera */
}

/* ------------------------------------------- FIN SCROLL BARRE ------------------------------------------- */